@model UserListViewModel

<ol>

    <p>There should be a database under here.</p>

    @foreach(var user in Model.Users)
    {
        <li>@user.Email <br>
        @user.FirstName<br>
        @user.LastName<br>
        @user.Password<br>
        @user.ConfirmPassword<br>
        @user.PhoneNumber</li><br>
    }
</ol>