@model UserListViewModel

<h1>This is the randomly generated code: @ViewBag.MyString</h1>

<ol>

    @foreach(var user in Model.Users)
    {
        <li>Email: @user.Email <br>
        First Name: @user.FirstName<br>
        Last Name: @user.LastName<br>
        Password: @user.Password<br>
        Confirmed Password: @user.ConfirmPassword<br>
        Phone Number: @user.PhoneNumber</li><br>
    }
</ol>

